index.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HNStationers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stationery">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductId" type="xs:unsignedByte" />
              <xs:element name="ProductName" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
              <xs:element name="PriceperUnit" type="xs:unsignedByte" />
              <xs:element name="PriceperDozen" type="xs:unsignedShort" />
              <xs:element name="InStock" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>